<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <title> Login and Registration Form in HTML & CSS | CodingLab </title>
  <link rel="stylesheet" href="signup.component.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="container">
    <div class="cover">
      <div class="front">
        <img src="assets/img/5886141.png" alt="" style="filter: none;">
      </div>
    </div>

    <div class="forms">
      <div class="form-content">
        <div class="login-form">
          <div class="title">Sign Up</div>
          <form (ngSubmit)="register1()" [formGroup]="registerForm">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fa fa-user"></i>
                <input type="text" formControlName="username" placeholder="Enter your Username" required>
              </div>
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text" formControlName="email" placeholder="Enter your email" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" formControlName="password" required autocomplete="current-password" placeholder="Enter your password">
              </div>
              <div class="input-box">
                <i class="fa fa-phone"></i>
                <input type="text" formControlName="phone" required autocomplete="current-phone" placeholder="Enter your phone">
              </div>
              <div class="input-box">
                <i class="fa fa-address-card"></i>
                <input type="text" formControlName="adresse" required autocomplete="current-address" placeholder="Enter your address">
              </div>
              <div class="input-box">
                <i class="fas fa-upload"></i>
                <input type="file" (change)="handleFileInput($event)" accept="image/*" placeholder="Upload your image">
              </div>
              <div class="button input-box">
                <input type="submit" value="Register">
              </div>
              <div class="text sign-up-text">Don't have an account? <label for="flip"><a routerLink="/login" style="color: #06BBCB;">Login now</a></label></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
