<div class="form-container" *ngFor="let test of tests">
  <h1 class="test-title">{{ test.name }}</h1>
  <p class="test-description">{{ test.description }}</p>
  <div *ngFor="let question of test.questions" class="question-block">
    <p class="question-text">{{ question.text }}</p>
    <form (ngSubmit)="submitAnswer(test.id, question.id)">
      <div *ngIf="question.type === 'Choix Multiple'">
        <div *ngFor="let suggestion of question.suggestions" class="option-block">
          <input type="checkbox" 
                 [id]="suggestion.id" 
                 (change)="updateSelectedOptions($event, suggestion.id, question.id)" 
                 class="option-input">
          <label [for]="suggestion.id" class="option-label">{{ suggestion.text }}</label>
        </div>
      </div>
      <div *ngIf="question.type !== 'Choix Multiple'">
        <div *ngFor="let suggestion of question.suggestions" class="option-block">
          <input type="radio" 
                 [name]="question.id" 
                 [id]="suggestion.id" 
                 [value]="suggestion" 
                 (change)="updateSelectedOptionForRadio(suggestion.id, question.id)" 
                 class="option-input">
          <label [for]="suggestion.id" class="option-label">{{ suggestion.text }}</label>
        </div>
      </div>
      <button type="submit" class="submit-button">Soumettre</button>
    </form>
  </div>
  <!-- Bouton pour soumettre tout le test et obtenir le score -->
  <button type="button" class="submit-button" (click)="submit(test.id)">Submit Test</button>
  <!-- Afficher la note uniquement si showNote est vrai -->
  <div *ngIf="showNote">{{ note }}%</div>
</div>
